<.header class="text-center">
  Feed
  <:subtitle>Get in touch about all the fofocas</:subtitle>
</.header>

<div class="space-y-12 divide-y">
  <div :if={@current_user}>
    <.live_component module={SabiaWeb.PostLive.FormComponent} id="new-post" post={@new_post} />
  </div>
  <div id="posts" phx-update="stream" class="pt-10 grid gap-4">
    <div :for={{id, post} <- @streams.posts} id={id}>
      <SabiaWeb.PostLive.PostComponent.post post={post} />
    </div>
  </div>
</div>
